* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;
  align-items: center;
  background-color: rgba(240, 240, 240, 1)
}

nav ul {
  margin: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

li {
  margin: 0px 8px 0px 8px;
}

.nav-button {
  padding: 8px 12px 8px 12px;
  border: none;
  border-radius: 3px;
  background: local;
  font-size: 18px;
}

.nav-button:hover {
  color: white;
  background-color: rgba(0, 145, 60, 0.8);
  
}