* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;
  align-items: center;
  background-color: rgba(245, 245, 245, 1);
}

nav ul {
  margin: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

li {
  margin: 0px 8px 0px 8px;
}

.active-nav-button {
  padding: 4px 12px 4px 12px;
  border: none;
  border-radius: 3px;
  background: local;
  font-size: 18px;
  cursor: pointer;
  border-bottom: 3px solid rgba(0, 145, 60, 0.8);
}

.active-nav-button:hover {
  color: white;
  background-color: rgba(0, 145, 60, 0.8);
  border-bottom: 3px solid rgba(0, 145, 60, 0);
}

.inactive-nav-button {
  padding: 4px 12px 4px 12px;
  border: none;
  border-radius: 3px;
  background: local;
  font-size: 18px;
  cursor: pointer;
}

.inactive-nav-button:hover {
  color: white;
  background-color: rgba(0, 145, 60, 0.8);
  
}