* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

 h1 {
  font-size: 4rem;
  margin: 5rem;
}

 h2 {
  font-size: 3rem;
}

.home-page p {
  font-size: 1.25rem;
}

.home-welcome h2, .home-welcome p {
  background-color: rgb(20, 20, 20, .7);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px 10px rgb(20, 20, 20, .7);
}

.home-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
  padding: 16rem;
  background-image: url("../images/table-of-food.jpeg");
  background-size: cover;
  box-shadow: 0 0 10px 10px rgb(20, 20, 20) inset;
}

.home-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  gap: 5rem;
}

.home-section-title {
  font-size: 3rem;
  margin: 1rem;
  width: 25rem;
  min-width: 25rem;
  background-size: cover;
  box-shadow: 0 0 12px 12px rgb(20, 20, 20) inset;
}

.meals-title {
  background-image: url("../images/main-course.jpeg");
}

.bites-title {
  background-image: url("../images/appetizers.jpeg");
}

.desserts-title {
  background-image: url("../images/desserts.jpeg");
}

.home-section-title h3 {
  background-color: rgb(20, 20, 20, .6);
  box-shadow: 0 0 60px 60px rgb(20, 20, 20, .6);
}

.home-section-desc {
  margin: 1rem;
  max-width: 50rem;
}