.large-recipe-item {
  padding: 2rem;
}

.large-recipe-top {
  display: flex;
  flex-direction: column;
}

.large-recipe-img img {
  border-radius: 10px;
}

.large-recipe-top p {
  font-size: 1.5rem;
}

.large-recipe-info {
 text-align: center;
}

.large-recipe-bottom {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.large-recipe-bottom p {
  font-size: 1.25rem;
}

.large-recipe-bottom h3 {
  font-size: 1.5rem;
}

.large-recipe-ingredients {
  padding: 1rem;
  width: 45%;
}

.large-recipe-instructions {
  padding: 1rem;
  width: 45%;
}

hr {
  border: 1px solid rgba(0, 145, 60, 0.8);
}

