* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
}

.no-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 1);
  border-radius: 8px;
  padding: 0 0 1rem 0;
  max-width: 60%;
  font-size: 16px;
}

.random-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
  border: none;
  border-radius: 3px;
  width: 100px;
  height: 35px;
  font-size: 16px;
  text-align: center;
  background-color: rgba(0, 145, 60, .5);
  cursor: pointer;
}

.random-button:hover {
  color: white;
  background-color: rgba(0, 145, 60, .9);
}