* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
}

.prompt-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 1);
  border-radius: 8px;
  padding: 0 1rem 1rem 1rem;
  max-width: 40%;
  font-size: 16px;
}

.prompt-card h4 {
  font-size: 18px;
}