* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.small-recipe-item {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 1rem;
  padding: 0 1rem 1rem 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(245, 245, 245, 1);
  max-width: 350px;
}

.small-recipe-item img {
  width: 90%;
  height: 90%;
  border-radius: 5px;
}

.small-recipe-item h3 {
  font-size: 22px;
  display: flex;
  flex-wrap: wrap;
  font-weight: lighter;
}

.small-recipe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
  margin-top: 1rem;
  border: none;
  border-radius: 3px;
  width: 100px;
  height: 35px;
  font-size: 16px;
  text-align: center;
  background-color: rgba(0, 145, 60, .5);
  cursor: pointer;
}

.small-recipe-button:hover {
  color: white;
  background-color: rgba(0, 145, 60, .9);
}