.small-recipe-item {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 1rem;
  padding: 0.5rem 1rem 1rem 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(35, 35, 35, 1);
  box-shadow: 0 0 10px 10px rgb(35, 35, 35, 1) inset;
  width: 30rem;
}

.small-recipe-item img {
  border-radius: 5px;
  width: 85%;
}

.small-recipe-item h3 {
  font-size: 22px;
  display: flex;
  flex-wrap: wrap;
  font-weight: lighter;
}

.small-recipe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
  margin-top: 1rem;
  border: none;
  border-radius: 3px;
  width: 100px;
  height: 35px;
  font-size: 16px;
  text-align: center;
  background-color: rgba(0, 145, 60, .5);
  cursor: pointer;
}

.small-recipe-button:hover {
  color: white;
  background-color: rgba(0, 145, 60, .9);
}